{
  "extends": [
    "react-app",
    "@ijsto"
  ],
  "overrides": [
    {
      "files": [
        "**/*.stories.*"
      ],
      "rules": {
        "import/no-anonymous-default-export": "off"
      }
    }
  ]
  // ,
  // "settings": {
  //   "import/resolver": {
  //     "alias": {
  //       "map": [["@", "./src/kit"]],
  //       "extensions": [".js", ".jsx", ".ts",".tsx", ".json"]
  //     },
  //     "node": {
  //       "extensions": [".js", ".jsx", ".ts", ".tsx"]
  //     }
  //   }
  // }
}